.auth-page {
    width: 100%;
    margin: 0 auto;
}

.auth-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 15px;
}

.auth-form {
    position: relative;
    overflow: hidden;
    width: 500px;
    padding: 30px 60px;
    border: var(--auth-form-border);
    border-radius: 10px;
    background: inherit;

    @media screen and (max-width: 1080px) {
        padding: 20px 30px;
    }
}

.auth-form-content {
    width: 100%;
}

.auth-form-title {
    display: block;
    text-align: center;
    margin-bottom: 40px;
    color: var(--title-color);
    font-size: 38px;
    font-family: var(--text-font-family);
    font-weight: 700;

    @media screen and (max-width: 1080px) {
        margin-bottom: 20px;
    }
}

.auth-form-item {
    width: 100%;
    margin-bottom: 20px;
}

.auth-form-link-field {
    padding: 0 0 30px 0;
    text-align: right;
}

.auth-form-registration-link {
    font-size: 14px;
    font-weight: 300;
    font-family: var(--text-font-family);
    text-decoration: none;
    color: var(--auth-form-link-color);
}

.auth-form-registration-link:hover {
    color: var(--auth-form-link-hover-color);
}

.auth-form-button-field {
    position: relative;
    display: block;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
}

.auth-form-login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--text-font-family);
    cursor: pointer;
    text-transform: uppercase;
}
