// Backgrounds
$page-background: #ffffff;

// Fonts
$auth-form-font-family: 'Poppins', sans-serif;

//Colors
$auth-form-title-color: #333333;
$auth-form-register-link-color: #666666;
$auth-form-register-link-hover-color: #e61919;

//Borders
$auth-form-border: 2px solid #d9d9d9;

.limiter {
    width: 100%;
    margin: 0 auto;
}

.auth-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    background: $page-background;
}

.auth-form {
    position: relative;
    overflow: hidden;
    width: 500px;
    padding: 30px 60px;
    border: $auth-form-border;
    border-radius: 10px;
    background: $page-background;
}

.auth-form-content {
    width: 100%;
}

.auth-form-title {
    display: block;
    text-align: center;
    padding-bottom: 40px;
    color: $auth-form-title-color;
    font-size: 38px;
    font-family: $auth-form-font-family;
    font-weight: 700;
}

.auth-form-item {
    width: 100%;
    margin-bottom: 20px;
}

.auth-form-link-field {
    padding: 0 0 30px 0;
    text-align: right;
}

.auth-form-registration-link {
    font-size: 14px;
    font-weight: 300;
    font-family: $auth-form-font-family;
    text-decoration: none;
    color: $auth-form-register-link-color;
}

.auth-form-registration-link:hover {
    color: $auth-form-register-link-hover-color;
}

.auth-form-button-field {
    position: relative;
    display: block;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
}

.auth-form-login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    font-family: $auth-form-font-family;
    cursor: pointer;
    text-transform: uppercase;
}
