.candidates-list {
  width: 100%;
  height: 100vh;
}

.candidates-list-row {
  display: flex;
  width: 100%;
  height: 8%;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0 3px 8px -3px #000000;

  @media screen and (max-width: 1080px) {
    height: 7%;
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
    color: var(--candidates-list-item-text-color);

    @media screen and (max-width: 1080px) {
      padding-left: 15px;
    }

    &:hover {
      color: var(--candidates-list-item-hover-text-color);
      border-radius: 10px;
      box-shadow: 0 3px 8px -3px var(--candidates-list-item-hover-text-color);
      cursor: pointer;
      transition: 0.2s;
    }
  }
}