.nav-menu-list-container {
  height: 90%;
  width: 100%;
  padding-left: 10%;

  .nav-list-container {
    position: relative;
    height: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .nav-menu-list-container {
    padding: 0;
  }
}
