//Colors
$content-background-color: #f1f1f199;

.content-container {
    position: relative;
    display: flex;
    flex: 0 0 60%;
    min-height: 100%;
    border-left: 1.5px solid #e7e6e699;
    border-right: 1.5px solid #e7e6e699;
    background-color: $content-background-color;
}
