* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    float: right;
    width: 80%;
    height: 100%;
}

@media screen and (max-width: 700px) {
    .content-container {
        display: flex;
        width: 100%;
        .content-info-container {
            width: 100%;
            height: 100%;
            padding: 20px 40px;
        }
    }
}

.content-info-container {
    width: 100%;
    height: 100%;
    padding: 50px 100px;
}

.content-header-container {
    margin-bottom: 40px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 30px;
}

.content-header-title {
    display: flex;
    color: #000000;
}

.content-header-title h2 {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

.content-header button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    background-color: #e61919;
    border: 2px solid #e61919;
    border-radius: 10px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    color: #f5f5f5ff;
}

.content-header button:hover {
    border: 2px solid #e61919;
    cursor: pointer;
    background-color: #f5f5f5ff;
    color: #e61919;
    opacity: 0.85;
    transition: background-color 0.2s;
}

.content-header-description-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.content-header-description {
    text-align: justify;
    width: 100%;
    font-family: Poppins, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: rgb(91, 91, 91);
    line-height: 1.2;
}
