.nav-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 460px;
  justify-content: space-around;
  padding: 50px 0;

  .nav-item {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
    padding: 0;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    &:hover {
      font-weight: 700;
      padding-left: 10px;
      cursor: pointer;
      transition: padding-left 0.3s;
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      padding-left: 0;
      text-decoration: none;
      color: var(--nav-items-color);
    }

    span {
      margin-left: 10px;
    }
  }

  .divider {
    flex: 1 1 auto;
    display: flex;
    margin-left: 10px;
    align-items: center;

    &::before {
      content: '';
      height: 2px;
      width: 40px;
      border-radius: 5px;
      background-color: var(--nav-divider-color);
    }
  }

  button {
    width: 70%;
    margin: 20px 10px;
    padding: 10px;

    @media screen and (max-width: 1080px) {
      width: 100%;
      height: 20%;
      margin: 0;
      border-radius: 0;

      span {
        display: none;
      }
    }

    span {
      margin-left: 5px;
    }
  }
}

@media screen and (max-width: 1080px) {
  .nav-list {
    min-height: 60%;
    padding: 0;

    .nav-item {
      margin: 0;
      border-bottom: 1.5px solid #e7e6e699;

      a {
        justify-content: center;
      }

      span {
        display: none;
      }

      &:hover {
        padding: 0;
        background-color: #e7e6e699;
      }
    }

    .divider {
      display: none;
    }
  }
}
