.nav-container {
  grid-column: nav;
  min-height: 100%;
  background-color: var(--nav-background-color);
  z-index: 1;

  .nav-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 40px 0 10px;

    @media screen and (max-width: 1080px) {
      margin: 0;
      height: 60%;
    }
  }
}

.nav-logo {
  position: relative;
  width: 200px;
  min-height: 80px;

  @media screen and (max-width: 1080px) {
    display: none;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
