.main-page {
  display: grid;
  grid-template-columns: [nav] 20% [content] 1fr [sidebar] 20%;
  width: 100%;
  min-height: 100vh;

  @media screen and (max-width: 1080px) {
    grid-template-columns: [nav] 10% [content] 1fr [sidebar] 30%;
  }
}
