// Fonts
$auth-form-font-family: 'Poppins', sans-serif;

//Colors
$auth-form-title-color: #333333;
$auth-form-hover-focus-color: #e61919;

.auth-form-item {
    width: 100%;
    margin-bottom: 20px;
}

.auth-form-item-title {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: $auth-form-font-family;
    color: $auth-form-title-color;
}

.auth-form-item-title:hover {
    color: $auth-form-hover-focus-color;
    cursor: pointer;
}

.auth-form-item-field {
    display: block;
    padding: 0 5px 0 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    font-family: $auth-form-font-family;
    color: $auth-form-title-color;
}

.auth-form-item-field:focus {
    border-bottom: 2px solid $auth-form-hover-focus-color;
}
