* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: inherit;
  --auth-form-background-color: #f5f5f5ff;
  --auth-form-border: 2px solid #d9d9d9;
  --auth-form-input-border-bottom: 2px solid #d9d9d9;
  --auth-form-input-border-bottom-active: 2px solid #e61919;
  --auth-form-link-color: #666666;
  --auth-form-link-hover-color: #e61919;
  --nav-background-color: #e8e8e8;
  --nav-items-color: #000000;
  --nav-divider-color: #ff0000ff;
  --content-background-color: #f5f5f5;
  --border-columns: 1.5px solid #e7e6e699;
  --sidebar-background-color: #f0f0f0;
  --title-color: #000000;
  --text-color: #5b5b5bff;
  --text-font-family: 'Poppins', sans-serif;
  --button-background-color: #e61919;
  --button-hover-background-color: #f5f5f5ff;
  --button-text-color: #f5f5f5ff;
  --button-hover-text-color: #e61919;
  --candidates-list-item-text-color: #000000;
  --candidates-list-item-hover-text-color: #e61919;
  --modal-background-color: #f5f5f5;
  --modal-border: 4px solid #c0c0c0;
}

h2 {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-family: Poppins, sans-serif;
  font-weight: 500;

  @media screen and (max-width: 1080px) {
    font-size: 22px;
  }
}

h3 {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 1.2;

  @media screen and (max-width: 1080px) {
    font-size: 16px;
  }
}

h4 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1;

  @media screen and (max-width: 1080px) {
    font-size: 11px;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  background-color: var(--button-background-color);
  border: 2px solid var(--button-background-color);
  border-radius: 10px;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  color: var(--button-text-color);

  &:hover {
    cursor: pointer;
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    transition: background-color 0.3s;
  }
}
