.drop-down-select-container {
  margin-bottom: 25px;
}

.drop-down-select-label {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--text-font-family);
  color: var(--title-color);
}